<div class="porfolioContaner">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Portfolios</h4>
        <button class="btn btn-primary">Add a portfolio</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">CURRENCY</th>
                <th scope="col">CREATED DATE</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">9oZcKBTN</a></td>
                <td></td>
                <td>EUR</td>
                <td>2 minutes ago</td>
                <td class="text-end"><a href="#">Tax reports</a> <i class="bi bi-pencil-square ms-2"></i></td>
            </tr>
        </tbody>
    </table>
</div>
