
<div class="d-flex justify-content-end align-items-center mb-4 gap-2">
    <a asp-controller="Transaction" asp-action="Index" asp-route-portfolioId="@ViewBag.Id" class="btn  d-flex align-items-center gap-2">
        <i class="bi bi-plus-circle-fill"></i>
        Add trades
    </a>
    <a asp-controller="Portfolio" asp-action="Settings" asp-route-id="@ViewBag.Id" class="btn  d-flex align-items-center gap-2">
        <i class="bi bi-gear-fill"></i>
        Settings
    </a>
</div>